:root{
    --darkblue: #0A3871;
    --lightblue: #F3F5FC;
    --inter: "Inter", sans-serif;
}

html{
    font-size: 62.5%; /* 1rem=10px*/
}

body{
    background-color: var(--lightblue);
    font-family: var(--inter);
}

.header{
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 67%;
}

header img{
    width: 120px;
    height: 48px;
}
main{
    display: flex;
    justify-content: space-around;
}

.form__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65dvh;
    max-width: 40rem;
    width: 100%;
}

.form__input{
    width: 100%;
    max-width: 560px;
    max-height: 50dvh;
    height: auto;
    background-color: transparent;
    border-color: transparent;
    resize: none;
    outline: none;
    font-family: var(--inter);
    font-size: 3.2rem;
    text-align: justify;
    color: var(--darkblue);
    margin-bottom: 3rem;
    margin-top: 4rem;
}
::placeholder{
    color: var(--darkblue);
}

.container{
    display: flex;
    flex-direction: column;
}

.btn_alert_msj{
    font-size: 1.2rem;
    color: #495057;
    gap: .8rem;
    margin-bottom: 1rem;
}

.btn_container{
    display: flex;
}

.form__btn{
    background: var(--darkblue);
    font-size: 1.6rem;
    color: white;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--darkblue);
    margin-right: .7rem; 
    font-weight: 700;
}

.form__btn--secundary{
    background-color: transparent;
    color: var(--darkblue);
}

.form__btn--result{
    background-color: #D8DFE8;
    color: var(--darkblue);
}

.hidden{
    display: none;
}
.result__decrypted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2rem;
    width: 100%;
    max-width: 40rem;
    height: 100dvh;
    border-radius: 32px;
    gap: 3rem;
    margin-bottom: 50rem;
}


.result__decrypted__img{
    display: block;
}

@media screen and (max-width:768px){
    main{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    } 
    .form__section {
        height: 64dvh;
       
    }

    .result__decrypted__img{
        display:none
    }
}

@media screen and (max-width:435px) {

    header img {
        width: 70px;
        height: 48px;
    }
    
    .form__section {
    height: 64dvh;
    }

    .form__input {
        font-size: 1.5rem;
    }

    .btn_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .form_btn{
        width: 250px;
        height: 50px;
    }

}


.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }